snippet caf "arrow function (fun)" b
const ${1:function_name} = (${2:argument}) => {
	$3
}
endsnippet

snippet im "import default" b
import ${1:module} from '${2:package}'
endsnippet

snippet imm "import desctructing" b
import { ${1:module} } from '${2:package}'
endsnippet
